
.icon-md {
	font-size: larger;
}

.icon-lg {
	font-size: x-large;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}

.logo {
	width: 191px;
	height: 50px;
}

.full-width {
	width: 100%;
}

.navbar-bg-color {
	background-color: #f9f9f9
}

.btn-logout {
	width: 41px;
}

.navbar-m-top {
	margin-top: 87px !important;
}

.login-panel-width {
	width: 21rem;
}

/*
.custom-text-field {
	border-top: none;
	border-left: none;
	border-bottom-width: 1px;
	border-right: none;
	border-radius: unset;
}

.border-sharp {
	border-radius: unset;
}
*/

.font-quicksand {
	font-family: Quicksand;
}

.font-rajdhani {
	font-family: Rajdhani;
}

.font-tajawal {
	font-family: Tajawal;
}

.font-varella-round {
	font-family: Varela Round;
}

.width-60 {
	width: 60rem;
}

.width-80 {
	width: 80rem;
}

.width-9 {
	width: 9rem;
}

.font-x-large {
	font-size: x-large;
}