<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="util/imports :: import"></th:block>
    <script th:src="@{/js/dashboard.js}"></script>
</head>
<body>
<th:block th:replace="util/navbar :: navbar"></th:block>
<th:block th:replace="add_team :: add_team_modal"></th:block>

<nav>
    <div class="nav nav-tabs m-3" id="nav-tab" role="tablist">
        <a th:if="${isSuperAdmin}" class="nav-item nav-link" th:classappend="${teamsTabClass}" id="teamsTab"
           th:href="@{?teams}" role="tab" aria-controls="nav-home">Teams</a>

        <a th:if="${isSuperAdmin}" class="nav-item nav-link" th:classappend="${membersTabClass}"  id="nav-profile-tab"
           th:href="@{?members}" role="tab" aria-controls="nav-profile">Members</a>

        <!--Tab for assigning members to different teams-->
        <a th:if="${isSuperAdmin}" class="nav-item nav-link" th:classappend="${teamAssignmentTabClass}"  id="nav-profile-tab"
           th:href="@{?assign-teams}" role="tab" aria-controls="nav-profile">Team Assignment</a>

        <!--Rating tab for admins-->
        <a th:if="${isSuperAdmin}" class="nav-item nav-link" th:classappend="${adminRatingClass}"  id="nav-profile-tab"
           th:href="@{?admin-rating}" role="tab" aria-controls="nav-profile">Ratings</a>

        <!--Rating tab for users-->
          <!--<a th:if="${isUser}" class="nav-item nav-link" th:classappend="${userRatingClass}"  id="nav-profile-tab" data-toggle="tab"
             th:href="@{?user-rating}" role="tab" aria-controls="nav-profile">Introduction</a>-->

        <a th:if="${isUser}" class="nav-item nav-link" id="nav-profile-tab"
           th:href="@{?intro}" th:classappend="${introTabClass}" role="tab" aria-controls="nav-profile">Introduction</a>

        <a th:if="${isUser}" class="nav-item nav-link" id="nav-profile-tab"
           th:href="@{?user-rating}" th:classappend="${userRatingClass}" role="tab" aria-controls="nav-profile">Rating</a>

        <button th:if="${userRatingTabActive} and ${!isRatingAlreadySubmitted}"
                type="button" onclick="userService.submitRating()" class="btn btn-success mb-1 ml-auto btn-sm"><i class="fa fa-lock mr-2"></i>Submit Rating</button>
    </div>
</nav>

<div class="tab-content col-12" id="nav-tabContent-team" th:if="${teamsTabActive}">
    <table class="table table-striped dt-responsive shadow-sm" id="teams">
        <thead class="bg-info text-light">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Size</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="team, iter : ${teams}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${team.teamName}"></td>
            <td th:text="${team.size}"></td>
        </tr>
        </tbody>
    </table>
</div>


<div class="tab-content col-12" id="nav-tabContent-members" th:if="${membersTabActive}">
    <table class="table table-striped dt-responsive shadow-sm" id="members">
        <thead class="bg-info text-light">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Team(s)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member, iter : ${members}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${member.fullName}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${#strings.listJoin(member.teams, ',')}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="tab-content col-12" th:if="${teamAssignmentTabActive}">
    <table class="table table-striped dt-responsive shadow-sm" id="teamAssignment">
        <thead class="bg-info text-light">
        <tr>
            <th>#</th>
            <th>Member Name</th>
            <th>Email</th>
            <th>Assign To</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="uMember, iter : ${unassignedMembers}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${uMember.fullName}"></td>
            <td th:text="${uMember.email}"></td>
            <td>
                <select class="custom-select" th:id="${uMember.uuid}">
                    <option selected>Select team...</option>
                    <option th:each="team : ${teams}" th:value="${team.uuid}" th:text="${team.teamName}"></option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="tab-content col-12" id="nav-tabContent-members" th:if="${adminRatingTabActive}">
    <table class="table table-striped dt-responsive shadow-sm" id="admin-ratings">
        <thead class="bg-info text-light">
        <tr>
            <th>#</th>
            <th>Team Name</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rating, iter : ${adminRatings}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${rating.teamName}"></td>
            <td th:text="${rating.rating}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="tab-content col-12" id="nav-tabContent-members" th:if="${introTabActive}">
</div>

<!--User rating tab-->
<div class="tab-content col-12" id="nav-tabContent-members" th:if="${userRatingTabActive}">

    <div th:if="${isRatingAlreadySubmitted}">
        <div class="card card-deck">
            <div class="card-header fa-2x form-inline">
                <i class="btn-outline-success fa fa-check-circle icon-md fa-2x"></i>
            </div>

            <div class="card-body font-roboto font-x-large">
                <h2>Rating has been submitted!</h2>
            </div>
        </div>
    </div>

    <div th:if="${!isRatingAlreadySubmitted}" class="card bg-light shadow-sm mb-4" th:each="category: ${categories}">
        <div class="bg-info card-header text-white" th:text="${category.name}"></div>
        <div class="card-body">
            <div class="card bg-light mb-2" th:each="subCategory: ${category.subCategories}">
                <div class="card-header" th:text="${subCategory.name}"></div>
                <div class="card-body">
                    <div th:each="option: ${subCategory.options}">
                        <input type="radio" class="mr-2" th:id="${option.uuid}" th:name="${subCategory.name}"
                        th:value="${option.optionOrderId}">

                        <label th:for="${option.uuid}" th:text="${option.name}"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>